.DailyPages {
  margin-top: 1vw;
  font-family: "Open Sans", sans-serif; }
  .DailyPages h1 {
    margin: 0 0 1vw 2vw;
    font-size: 1.5rem; }
  .DailyPages .pageBlock {
    float: left;
    margin: 0 0 2vw 2vw;
    position: relative;
    width: 10vw;
    height: 10vw;
    background-color: white;
    border: solid 0.5px #757677; }
    .DailyPages .pageBlock .date {
      font-size: 1.5rem; }
    .DailyPages .pageBlock h3 {
      float: left; }
  .DailyPages .pageBlock > * {
    margin: 5px 10px; }
  .DailyPages .transparent {
    margin: 0;
    position: absolute;
    top: -.5px;
    left: -.5px;
    width: 10vw;
    height: 10vw;
    background-color: rgba(255, 255, 255, 0.7); }
  .DailyPages .transparent:hover {
    cursor: pointer; }
  .DailyPages .link {
    text-align: right;
    text-decoration: none;
    color: #292C2F;
    font-weight: 300;
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    font-size: 1.8rem; }
  .DailyPages .link:hover {
    cursor: pointer; }
  .DailyPages .switch {
    display: none; }
