$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

.DailyPages {
  margin-top: 1vw;
  font-family: $font;
  h1 {
    margin: 0 0 1vw 2.7vw;
    font-size: 1.5rem;
  }
  .pageBlock {
    float: left;
    margin: 0 0 2.7vw 2.7vw;
    position: relative;
    // display: flex;
    // align-items: center;
    width: 10vw;
    height: 10vw;
    background-color: white;
    border: solid .5px $mediumGray;
    .date {
      font-size: 1.5rem;
    }
    h3 {
      float: left;
    }
  }
  .pageBlock > * {
    margin: 5px 10px;
  }
  .transparent {
    margin: 0;
      position: absolute;
      top: -.5px;
      left: -.5px;
      width: 10vw;
      height: 10vw;
      background-color: rgba(255, 255, 255, .7) 
  }
  .transparent:hover {
    cursor: pointer;
  }
  .link {
    text-align: right;
    text-decoration: none;
    color: $darkGray;
    font-weight: $lightWeight;
      position: absolute;
      left: 10px;
      bottom: 10px;
      right: 10px;
      font-size: 1.8rem;
  }
  .link:hover {
    cursor: pointer;
  }
  .switch {
    display: none;
  }
}