$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.DailyPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  .pageBlock {
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 70vw;
    height: 8vh;
    background-color: $blue;
    border: solid 1px $mediumGray;
    .groupName {
      font-size: 1.5rem;
    }
  }
  .pageBlock > * {
    margin: 0 10px;
  }
  .transparent {
    margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 8vh;
      width: 70vw;
      background-color: rgba(255, 255, 255, .7) 
  }
  .link {
    font-weight: $lightWeight;
      position: absolute;
      top: calc(4vh - 1rem);
      left: calc(30vw - 2rem);
      font-size: 1.8rem;
  }
  .link:hover {
    cursor: pointer;
  }
  .switch {
    display: none;
  }
}