$blue: #86CFEF;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

#Dashboard{
  background-color: $blue;
  display: flex;
}