$blue: #86CFEF;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

#Dashboard{
  background-color: $lightGray;
  font-family: $font;
  min-height: 100vh;
  display: flex;
  #DashboardBox {
  // padding-left: calc(15vw + 45px);
    padding-left: 45px;
  }
  .blueBox {
    height: 100vh;
    width: 45px;
    position: fixed;
    top: 0;
    left: 15vw;
    background-color: $blue;
    h1 {
      position: absolute;
      margin: 10px 0;
      left: -396px;
      width: 400px;
      text-align: right;
      transform: rotate(-90deg);
      transform-origin: top right 0;
      font-size: 2rem;
      color: $darkGray;
    }
  }
  
}