#Profile .dashboard {
  position: relative;
  height: 55vh; }
  #Profile .dashboard .bluestripe {
    position: relative;
    height: 60%;
    background-color: #57BDE8; }
    #Profile .dashboard .bluestripe h1 {
      position: absolute;
      left: 50vh;
      bottom: 2vh;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 3rem;
      color: #292C2F; }
  #Profile .dashboard .whitestripe {
    display: flex;
    justify-content: flex-end;
    height: 40%; }
    #Profile .dashboard .whitestripe .links {
      height: 1.75rem;
      margin: 1.5rem;
      font-family: "Open Sans", sans-serif;
      font-size: 1.75rem;
      font-weight: 400;
      text-decoration: none;
      color: #292C2F; }
    #Profile .dashboard .whitestripe .links:active {
      border-bottom: solid 1px #292C2F; }
    #Profile .dashboard .whitestripe .links:hover {
      border-bottom: solid 1px #D8D8D8; }
  #Profile .dashboard .bigpic {
    position: absolute;
    top: 10vh;
    left: 5vh;
    height: 40vh;
    width: 40vh;
    background-position: center;
    background-size: 40vh;
    border-radius: 50%;
    border: solid 2px #757677;
    overflow: hidden; }
