#DayView {
  position: relative;
  min-height: 100vh;
  background-color: #D8D8D8;
  padding: 7.5vw 10vw;
  font-family: "Open Sans", sans-serif; }
  #DayView h1 {
    font-size: 4rem;
    margin: 20px 0; }
  #DayView h2 {
    font-size: 1.5rem;
    display: inline;
    margin: 0 20px 0 0; }
  #DayView .notesBox {
    min-height: 30vh;
    min-width: 50vw;
    max-width: 70vw;
    margin: 40px 0; }
    #DayView .notesBox textarea {
      display: block;
      min-height: 30vh;
      min-width: 80vw;
      max-width: 80vw;
      border: solid 15px rgba(117, 118, 119, 0.7);
      border-radius: 4px; }
    #DayView .notesBox textarea:focus {
      outline: none; }
  #DayView .mediaBasket {
    height: calc(100vh - 45px);
    width: 70vw;
    background-color: rgba(87, 189, 232, 0.7);
    position: fixed;
    top: 45px;
    right: 0; }
    #DayView .mediaBasket h2 {
      transform: rotate(-90deg);
      transform-origin: top right 0; }
