$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

#DayView {
  position: relative;
  min-height: 100vh;
  background-color: $lightGray;
  padding: 7.5vw 10vw;
  font-family: $font;
  .header {
    font-size: 4rem;
    margin: 20px 0;
  }
  .subHeader {
    font-size: 1.5rem;
    display: inline;
    margin: 0 20px 0 0;
  }
  .notesBox {
    width: 80vw;
    // padding: 30px;
    margin: 40px 0;
    .subHeader {
      display: block;
      padding: 5px 0;
      margin: -20px 0 20px 0;
      // width: 
      border-bottom: solid .5px rgba($mediumGray, .7);
    }
    textarea {
      display: block;
      min-height: 30vh;
      min-width: 80vw;
      max-width: 80vw;
      border: solid 15px rgba($mediumGray, .7);
      border-radius: 4px;
    }
    textarea:focus {
      outline: none;
    }
  }
}