#SideNav {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  width: 15vw;
  background-color: rgba(41, 44, 47, 0.9);
  color: #D8D8D8;
  padding: 1vw; }
  #SideNav h1 {
    color: #86CFEF;
    font-size: 1.4rem;
    border-bottom: solid 1px #86CFEF; }
  #SideNav .user {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #SideNav .user .profilePic {
      height: 10vw;
      width: 10vw;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: solid 0.5px #757677;
      overflow: hidden; }
    #SideNav .user .userBlock {
      display: flex;
      margin: 10px; }
    #SideNav .user .userBlock > * {
      padding: 0 10px; }
    #SideNav .user .border {
      border-right: solid 0.5px #D8D8D8; }
    #SideNav .user .logout {
      text-decoration: none;
      color: #D8D8D8; }
    #SideNav .user .logout:hover {
      cursor: pointer;
      color: #757677; }
  #SideNav .link {
    background-color: rgba(41, 44, 47, 0.6);
    font-size: 1.2rem;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #D8D8D8;
    height: 40px;
    width: 13vw;
    border-bottom: solid 0.5px #757677; }
  #SideNav .link:hover {
    color: #757677;
    cursor: pointer; }
  #SideNav .sublinkList {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  #SideNav .sublink {
    background-color: rgba(117, 118, 119, 0.4);
    font-size: 1rem;
    padding: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #D8D8D8;
    height: 40px;
    width: 12vw;
    border-bottom: solid 0.5px #757677; }
  #SideNav .sublink:hover {
    color: rgba(41, 44, 47, 0.6);
    cursor: pointer; }
  #SideNav .subsublinkList {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  #SideNav .subsublink {
    background-color: rgba(216, 216, 216, 0.3);
    width: 11vw;
    font-size: .8rem;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #D8D8D8;
    height: 40px;
    border-bottom: solid 0.5px #757677; }
  #SideNav .subsublink:hover {
    color: rgba(41, 44, 47, 0.5); }
  #SideNav .linkActive {
    color: #86CFEF; }
  #SideNav .tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  #SideNav .groupsList {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  #SideNav h2 {
    color: #86CFEF;
    margin: 7vh 0 10px;
    padding-bottom: 5px;
    border-bottom: solid 1px #86CFEF;
    font-size: 1.4rem; }
  #SideNav button {
    width: 13vw;
    background-color: #292C2F;
    border: none;
    padding: 10px;
    margin: 10px 0; }
  #SideNav button > * {
    color: #D8D8D8;
    text-decoration: none;
    font-size: 1rem; }
  #SideNav button > *:hover {
    color: #757677; }
