$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

#GroupDash {
  font-family: $font;
  .header {
    display: flex;
    align-items: Center;
    height: 30vh;
    width: 100%;
    background-color: $blue;
    h1 {
      margin: 45px 0 0 2vw;
      font-size: 5rem;
    }
  }
  .sidenav {
    margin: 5vh 0 0 3vw;
    float: left;
    min-height: 40vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    border-right: solid 1px $mediumGray;
  }
  .sidenav > * {
    display: inline-block;
    text-decoration: none;
    color: $darkGray;
    margin: 20px;
    font-size: 1.8rem;
  }
  .link:hover {
    color: $mediumGray;
    cursor: pointer;
  }
  .sectionList {
    margin: -10px 0 0 40px;
  }
  .sectionList > * {
    text-decoration: none;
    color: $darkGray;
    font-size: 1.4rem;
    display: block;
    margin: 10px 0
  }
  .switchbucket {
    margin: 45px 0 0 0 ;
    display: flex;
    justify-content: center;
  }
}