$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

.Media {
  margin-top: 1vw;
  font-family: $font;
  h1 {
    margin: 0 0 1vw 2vw;
    font-size: 1.5rem;
  }
  .mediaBlock {
    position: relative;
    float: left;
    margin: 0 0 2vw 2vw;
    height: 13vw;
    width: 18vw;
    background-size: cover;
    background-position: center;
    border: solid 5px white;
    border-radius: 2%;
    
    .transparent {
      position: absolute;
      top: -5px;
      left: -5px;
      height: 13vw;
      width: 18vw;
      background-color: rgba(255, 255, 255, .7);
      border-radius: 2%;
    }
    .title {
      top: 5%;
      left: 5%;
      font-size: 1.3rem;
    }
    .author{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 1.3rem;
      bottom: 5%;
      right: 5%;
      font-size: .7rem;
    }
    .source {
      top: 16%;
      left: 5%;
    }
    .source:hover {
      color: $mediumGray;
    }
    .description {
      top: 25%;
      left: 5%;
    }
    .switch{
      display: none;
    }
  }
  .mediaBlock > * {
    position: absolute;
    color: $darkGray;
  }
  .mediaBlock > *:hover {
    cursor: pointer;
  }
}