.Media {
  margin-top: 1vw;
  font-family: "Open Sans", sans-serif; }
  .Media h1 {
    margin: 0 0 1vw 2vw;
    font-size: 1.5rem; }
  .Media .mediaBlock {
    position: relative;
    float: left;
    margin: 0 0 2vw 2vw;
    height: 13vw;
    width: 18vw;
    background-size: cover;
    background-position: center;
    border: solid 5px white; }
    .Media .mediaBlock .transparent {
      position: absolute;
      top: -5px;
      left: -5px;
      height: 13vw;
      width: 18vw;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 2%; }
    .Media .mediaBlock .title {
      top: 5%;
      left: 5%;
      font-size: 1.3rem; }
    .Media .mediaBlock .author {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 1.3rem;
      bottom: 5%;
      right: 5%;
      font-size: .7rem; }
    .Media .mediaBlock .source {
      top: 16%;
      left: 5%; }
    .Media .mediaBlock .source:hover {
      color: #757677; }
    .Media .mediaBlock .description {
      top: 25%;
      left: 5%; }
    .Media .mediaBlock .switch {
      display: none; }
  .Media .mediaBlock > * {
    position: absolute;
    color: #292C2F; }
  .Media .mediaBlock > *:hover {
    cursor: pointer; }
