$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

#Sections{
  h1 {
    font-size: 2rem;
    margin: 2vw;
    border-bottom: solid 1px rgba($mediumGray, .5);
    width: 70vw;
    padding: 10px 0;
  }
  .header {
    font-size: 1.5rem;
    margin: 2vw;
  }
  .days {
    min-height: 30vh;
  }
}