$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

.CreateEdit {
  position: relative;
  min-height: 100vh;
  background-color: $lightGray;
  padding: 7.5vw 10vw;
  font-family: $font;
  h1 {
    font-size: 4rem;
    // margin-bottom: 20px;
  }
  .createSaveButton {
    position: absolute;
    bottom: 2vw;
    right: 3vw;
    height: 70px;
    width: 180px;
    background-color: $darkGray;
    color: $lightGray;
    font-size: 1.5rem;
  }
}