$blue: #57BDE8;
$lightGray: #D8D8D8;
$mediumGray: #757677;
$darkGray: #292C2F;
$font: 'Open Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 400;

#GroupForm {
  position: relative;
  min-height: 100vh;
  background-color: $lightGray;
  padding: 7.5vw 10vw;
  font-family: $font;
  h1 {
    font-size: 4rem;
    // margin-bottom: 20px;
  }
  h2:first-of-type {
    display: inline;
  }
  h2 {
    font-size: 1.5rem;
    // margin: 20px;
  }
  input {
    margin-bottom: 5px;
    height: 2rem;
    width: 61vw;
    font-size: 1.2rem;
    font-weight: $lightWeight;
  }
  .addMember {
    // display: inline;
    color: $lightGray;
    background-color: $darkGray;
    border: none;
    height: 35px;
    width: 120px;
  }
  form {
    margin-bottom: 120px;
    input {
      width: calc(70vw - 35px);
      margin-left: 40px;
      float: left;
    }
    p {
      float: left;
      margin: 8px;
      font-size: .8rem;
    }
    p:hover {
      cursor: pointer;
      border-bottom: solid 1px $mediumGray;
    }
  }
  .sectionList {
    display: flex;
    flex-direction: column;
  }
  .sectionBlock {
    clear: left;
    margin-left: 40px;
    .headerBox{
      width: 70vw;
      height: 1.5rem;
      border-bottom: solid 1px $mediumGray;
      // display: flex;
      h3 {
        font-size: 1.2rem;
        float: left;
      }
      p {
        float: right;
        font-size: .8rem;
        margin: 0 10px;
      }
      p:hover {
        cursor: pointer;
        border-bottom: solid 1px $mediumGray;
      }
    }
    .daysList {
      float: left;
      background-color: white;
      margin: 15px 15px 15px 0;
      width: 12vw;
      height: 12vw;
      border: solid 1px $darkGray;
      p {
        margin: 5px;
      }
    }
    .daysList:hover {
      cursor: pointer;
    }
    .addDay {
      float: left;
      font-size: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin: 15px 0;
      width: 12vw;
      height: 12vw;
      border: dashed 1px $darkGray;
    }
    .addDay:hover {
      cursor: pointer; 
    }
  }
  // .boop {
  //   position: relative;
  // }
  .createSaveButton {
    // display: none;
    position: absolute;
    bottom: 2vw;
    left: calc(50vw - 90px);
    height: 70px;
    width: 180px;
    background-color: $darkGray;
    color: $lightGray;
    font-size: 1.5rem;
  }
  .createSaveButton:hover {
    cursor: pointer;
  }
  .transparent{
    z-index: 3;
    background-color: rgba($darkGray, .9);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: -20px;
    left: -20px;
  }
  .dayModul{
    z-index: 4;
    width: 30vw;
    height: 20vw;
    background-color: $mediumGray;
    position: fixed;
    top: calc(50vh - 10vw);
    left: 35vw;

  }
}
#GroupForm > * {
  margin: 20px;
}